Source: deepin-ventoy-installer
Section: utils
Priority: optional
Maintainer: Alvaro Samudio <alvarosamudio@protonmail.com>
Build-Depends: debhelper (>= 11),
               qt5-qmake,
               qtbase5-dev,
               qttools5-dev-tools,
               libdtkwidget-dev
Standards-Version: 4.1.3
Homepage: https://github.com/alvarosamudio/deepin-ventoy-installer

Package: deepin-ventoy-installer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ventoy, tar, util-linux
Description: Deepin Ventoy Installer
 A simple GUI installer for Ventoy on Deepin/UOS.
 It allows downloading the latest Ventoy and installing it to a USB drive.
